* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f5f5f7;
    overflow-x: hidden;
}

nav {
    position: relative;
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #004a92;
    padding: 1rem;
}

nav img {
    width: 130px;
    margin: 0 10px;
}

nav i {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

nav .opciones {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 250px;
    font-size: .8rem;
    z-index: 99;
    padding-top: 2.5rem;
    background-color: #004a92;
    transform: translateX(110%);
    transition: all .5s ease;
    color: #000;
    box-shadow: 2px 2px 10px #707070;
}

nav .opciones li::before {
    content: "👉";
    margin-right: 5px;
    font-size: 1rem;
}


.opciones.active {
    transform: translateX(0);
    transition: all .5s ease;
}


nav li {
    color: #fff;
    list-style: none;
    cursor: pointer;
    padding: .4rem 2rem;
    text-align: center;
    font-size: .9rem;
    background-color: #dbd7d742;
    margin-bottom: 5px;
}


.opciones li:first-child a {
    text-decoration: none;
    color: #fff;
    padding: .5rem;
}

.opciones li:first-child a:visited {
    color: #fff;
}

.opciones li:first-child a:hover {
    color: #000;
}

nav li:hover {
    background-color: #fff;
    color: #000;
    transition: all .5s ease;
}

nav #close-menu {
    position: absolute;
    top: 5px;
    right: 5px;
}

h1 {
    font-size: 2rem;
    color: #004b90;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.foto {
    display: block;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    transition: .5s ease;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-elm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}

.container-pntj {
    position: relative;
    text-align: center;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    padding: .5rem;
    transition: all .5s ease;
    font-size: .8rem;
    display: none;
    margin: auto;
}

.significado-abr {
    margin-top: 20px;
}

.significado-abr p span {
    font-weight: bold;
}

.significado-abr p  {
    text-align: left;
    margin-bottom: 2px;
}

.significado-abr button {
    background-color: #338f3f;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    font-size: .6rem;
    cursor: pointer;
}

.container-pntj .calcular {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-left:200px;
    padding-right: 20px;
    overflow-x: scroll;
}

.container-pntj .mostrar-resultados {
    margin-top: 10px;
}

.mostrar-resultados .resultado-pnts {
    margin:20px;
    padding: .3rem 1rem;
    border-radius: 10px;
    background-color: #f5f5f7;
}

.mostrar-resultados .resultado-pnts span {
    font-weight: bold;
}

.mostrar-resultados .error {
    padding: .3rem 1rem;
    background-color: red;
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
}

.container-pntj button {
    padding: .4rem 1rem;
    background-color: #318e3d;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.container-pntj #cerrar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 10px;
    width: 10px;
    padding: .6rem;
    border-radius: 50%;
    color: #fff;
    right: 10px;
    top: 10px;
    background-color: #e20613;
    cursor: pointer;
    z-index: 99;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.container-pntj .data {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-pntj .data input {
    text-align: center;
}

.container-pntj .data:last-child input {
    pointer-events: none;

}

.container-pntj input {
    width: 40px;
}

.data .plus {
    margin: 0 10px;
    font-size: 1.5rem;
    margin-top: 25px;
    color: #f59d24;
}

.countdown {
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    overflow-x: hidden;
    transition: .5s all ease;
}

.foto button {
    display: flex;
    align-items: center;
    margin: 10px auto;
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .5s ease;
    background-color: #4b4b4b;
    color: #fff;
    padding: .5rem .6rem;
    border-radius: 5px;
    font-size: .8rem;
}

.foto button:hover {
    background-color: #646363;
}

.foto button i {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 5px;
}

.resultados {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
}

.resultados h2 {
    font-size: 1rem;
}

.resultados p {
    font-size: .7rem;
}

.fecha {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.fecha div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    font-size: .7rem
}

.fecha div p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .fecha div:first-child p {
    border: solid 5px #008aec;
  }
  
  .fecha div:nth-child(2) p {
    border: solid 5px #338f3f;
  }
  
  .fecha div:nth-child(3) p {
    border: solid 5px #e20613;
  }
  
  .fecha div:nth-child(4) p {
    border: solid 5px #f49c24;
  }

  /*Aplicamos media-queries*/

@media screen and (min-width:300px) {
    .foto {
        width: 250px;
        margin-top: 30px
    }
}

@media screen and (min-width:500px) {
    .container-pntj .calcular {
        padding-left: 50px;
    }

    .foto {
        width: 250px;
    }

    .fecha div p {
        font-size: 1.5rem;
        height: 80px;
        width: 80px;
    }
}

@media screen and (min-width:700px) {
    nav img {
        width: 200px;
    }

    .foto {
        width: 300px;
    }

    .container-pntj .calcular {
        overflow:hidden;
    }

    .fecha div {
        font-size: 1.1rem;
    }

    .fecha div p {
        font-size: 1.5rem;
        height: 80px;
        width: 80px;
    }

    .container-pntj {
        font-size: 1rem;
        padding: 1rem;
    }

    .container-pntj h2 {
        font-size: 2rem;
    }

    .container-pntj .calcular {
        margin-top: 10px;
    }

    .container-pntj .data input {
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }

    .container-pntj #cerrar {
        font-size: 1.4rem;
        width: 30px;
        height: 30px;
    }

    .mostrar-resultados button {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .resultado-pnts p {
        font-size: 1.3rem;
    }
    
}

@media screen and (min-width:1100px) {
  .container-elm {
    display: flex;
    flex-direction: row;
  }

  .foto {
    width: 400px;
  }

  .countdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 450px;
  }

  .container-pntj {
    width: 700px;
  }

  #menu {
    display: none;
  }

  nav .opciones {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 0;
    transform: translateX(0);
    background-color: #004a92;
    box-shadow: none;
  }

  nav li {
    margin-bottom: 0;
    background-color: transparent;
  }

  nav .opciones li::before {
    content: "";
    margin-right: 0;
    font-size: 1rem;
}

  .opciones #close-menu {
    display: none;
  }

  .opciones li:first-child a:hover {
    background-color: transparent;
    color: #fff;
  }

  .opciones li:hover {
    background-color: transparent;
    color: #fff;
  }
}
  
  
  


  